<h1>投稿一覧画面</h1>

<% @users.each do | user | %>
<p>
  お名前：<%= user.name%>
  年齢：<%= user.age%>
  <%= link_to "詳細を表示", user_path(user.id) %>
  <%= link_to "編集する", edit_user_path(user.id) %>
  <%= link_to "削除", user_path(user.id), method: :delete, data: {confirm: "削除しますか？"} %>
</p>
<% end %>

<%= link_to "新規投稿画面へ",new_user_path %>